<table class="table table-bordered">
    <tr>
        <td>.</td>
        <td>a single character</td>
        <td>\n</td>
        <td>new line character</td>
    </tr>
    <tr>
        <td>\w</td>
        <td>a word character</td>
        <td>\W</td>
        <td>a non-word character</td>
        
    </tr>
    <tr>
        <td>\d</td>
        <td>a digit</td>
        <td>\D</td>
        <td>a non-digit character</td>
    </tr>
    <tr>
        <td>\s</td>
        <td>a whitespace character</td>
        <td>\S</td>
        <td>a non-whitespace character</td>
    </tr>
    <tr>
        <td>\b</td>
        <td>beginning/end of word</td>
        <td>\B</td>
        <td>not beginning/end of word</td>
    </tr>
</table>