@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron"><h2>JavaScript Regular Expression Tester</h2></div>

<div class="row">
    
        <div class="col-md-9">
        <label>Regular Expression</label>
                <input id="txtRegex" type="text" class="form-control input-lg" />
        </div>
        <h3 class="pull-left" style="margin-top:35px">/</h3>
        <div class="col-md-2">
        <label>Options</label>
                <input id="txtOptions" type="text" class="form-control input-lg" />
        </div>
</div>

<div class="row">
    <div class="col-md-6">
        <label>Test String</label>
      <textarea id="txtTestString" class="form-control"></textarea>
    </div>
    <div class="col-md-offset-1 col-md-5">
        <label>Results</label>
       <div id="Results" class="well well-lg">
           &nbsp;
       </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well well-lg">
            <label>Cheat Sheet</label>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(function () {

            var errorClasses = "text-danger bg-danger",
                txtRegex = $('#txtRegex'),
                txtOptions = $('#txtOptions'),
                txtTestString = $('#txtTestString'),
                divResults = $('#Results');

            function noResults() {
                divResults.removeClass(errorClasses).empty().html('No Results Found.');
            }

            function clearResults() {
                divResults.removeClass(errorClasses).empty().html('&nbsp;');
            }

            function invalidRegex() {
                divResults.addClass(errorClasses).empty().html('Invalid Regular Expression');
            }

            function matchFound(results) {

                var ul = $("<ul class='match-results' />"),
                    li;
                for (var i = 0; i < results.length; i++) {
                    li = $('<li />').html(results[i]);
                    ul.append(li);
                }

                divResults.removeClass(errorClasses).empty().html(ul);
            }

            function runTest() {

                var regexString = txtRegex.val();
                var optionsString = txtOptions.val();
                var testString = txtTestString.val();

                //if there is no regex we can clear all results
                if (!regexString) {
                    clearResults();
                    return;
                }

                //if there is no test string we can assume no results
                if (!testString) {
                    noResults();
                    return;
                }

                //build regex
                try {
                    var regex = new RegExp(regexString, optionsString);

                    if (regex.test(testString)) {
                        matchFound(testString.match(regex));
                    } else {
                        noResults();
                    }
                }
                catch (err) {
                    invalidRegex();
                }

            }

            txtRegex.on('keyup', runTest);
            txtOptions.on('keyup', runTest);
            txtTestString.on('keyup', runTest);

        });
    </script>
}